.pageContent {
  padding-left: 4.5rem;
  padding-right: 4.5rem;
  min-height: calc(100vh - 80px);
}

/* Responsive design */
@media (max-width: 768px) {
  .pageContent {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

@media (max-width: 480px) {
  .pageContent {
    padding-left: 2.25rem;
    padding-right: 2.25rem;
  }
}

